@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --clr-primary:  rgb(25, 165, 204);
    --clr-secundary: rgb(20, 108, 148);

    --clr-neutral-900: rgb(18, 18, 18);
    --clr-neutral-850: rgba(18, 18, 18, 0.75);
    --clr-neutral-800: rgba(18, 18, 18, 0.5);
    --clr-neutral-500: rgb(55, 70, 98);
    --clr-neutral-200: rgb(204, 200, 200);
    --clr-neutral-100: rgb(245, 239, 239);
}

*{
    /*border: red dotted 1px;*/
    font-family: Oswald;
}

body{
    background: var(--clr-neutral-100);
    display: block;
    margin: 0;
    padding: 0;
}

.hero{
    width: 100%;
    height: 660px;
    background: url(../img/herobg.jpg);
    background-size: cover;
    background-position: center;
}

.land-prods{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.cat-wrap{
    margin-bottom: 20px;
}

.cat-wrap h2{
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 3px solid var(--clr-primary);
}

.prod-wrap{
    display: flex;
    justify-content: space-around;
}